* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark: #111515;
  --light: #fff;
  --link-color: #f6b83c;
}

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: var(--dark);
}

/* Header Styles */

.avatar {
  height: 100px;
  vertical-align: middle;
  background: transparent;
}

.feliperyderlogo {
  height: 100px;
  vertical-align: middle;
  background: transparent;
}

#heading {
  text-align: center;
  color: #fff;
  padding: 20px;
}

#heading h1 {
  font-family: 'Yeseva One', sans-serif;
  font-size: 9vw;
  line-height: 1.25em;
  color: #111515;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#heading h2, h3, h4, h5 {
  font-size: 2rem;
  padding: 20px;
  justify-content: start;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.navbar a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
  transition: color 0.3s;
  align-content: center;
}

.navbar a:hover {
  color: #111515; /* Change color on hover */
}

/* Hero Banner */
#hero {
    max-width: 100%;
    min-height: 400px;
    max-height: 600px;
    margin-bottom: 25px;
    background-image: url("../images/hero-banner.png");
    background-size: cover;
    background-position: center;
}

#hero h2 {
  font-size: 2.5rem;
}

/* Page */
.page-section {
  padding: 2rem 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.page-section h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.about-me {
  font-family: 'Vollkorn', sans-serif;
  font-size: 2.5vw;
  line-height: 1.75em;
  text-align: left;
  color: var(--dark);
  padding: 2%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Category Grid CSS */

#work {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#categoryGrid {
  margin: 0px 5%;
  display: grid;
  justify-content: space-evenly;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "p-one p-one p-one"
  "p-two p-three p-five"
  "p-four p-four p-five";
}

#project-one {
  grid-area: p-one;
  /* background-image: url("../images/Horiseon.png"); */
}

#horiseon {
width: 100%;
height: 240px;
}

#project-two {
  grid-area: p-two;
  background-image: url("../images/placeholder.jpg");
}

#project-three {
  grid-area: p-three;
  background-image: url("../images/placeholder.jpg");
}

#project-four {
  grid-area: p-four;
  background-image: url("../images/placeholder.png");
}

#project-five {
  grid-area: p-five;
  background-image: url("../images/placeholder.png");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content:flex-start;
}

.grid-heading {
  text-align: center;
  color: #fff;
  padding: 20px;
  background-image: url("../images/grid-banner.png");
  background-size: cover;
  background-position: center;
}

/* Footer Styles */
.footer {
  background-image: url("../images/footer-banner.png");
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer h4 {
font-family: 'Playfair Display', sans-serif;
font-size: 4vw;
line-height: 1.25em;
margin-left: auto;
margin-right: auto;
}

.footer a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  align-content: center;
  background-color: var(--dark);
  color: white;
  padding: 2px;
}

.footer a:hover {
  color: var(--dark); /* Change color on hover */
  background-color: var(--link-color);
  color: white;
}

@media (min-width: 768px) {
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar {
    margin-top: 0;
  }

  .navbar li {
    margin: 0 1.5rem;
  }

  #hero {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .heading {
    flex-direction: column;
    align-items: center;
  }

  .heading img {
    display: block;
    margin: 0 auto;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    align-items: center;
    margin: 1rem 10px;
  }

  .footer a {
    display: block;
    margin: 0;
  }

  .footer h4 {
    font-size: 5vw;
    line-height: 1.5em;
  }
}

